/* Estilos Generales */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-weight: bolder;
}

/* Colores De Texto */
.text-blue {
    color: #0062ff;
}

/* Colores de Fondo */
.bg-gray {
    background-color: #5d5d5d9d;
    /* background color. imagen*/
    background-image: url("../img/Marshmellow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: la-medida-en-x la-medida-en-y*/
    background-position: 20% 20%;
}

.bg-white {
    background-color: white;
}
/* contenedor del formulario */
.form-container {
    padding: 4rem;
    width: 16%;
    height: 20rem;
/*border: <tipo de borde> <medida de borde> <color de borde> ;*/
    border: solid 0.1rem gray;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
/*box-shadow: <posicion en y> <posicion en x> <nivel de distoricion> <color> ; */
    box-shadow: -11px 11px 10px #00000186;
}
/* Contenedor de inputs*/
.input-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.input-container input {
    border-radius: 0.4rem;
    border: solid 0.1rem gray;
    padding: 0.4rem;
    margin-top: 0.2rem;
}


/* contenedor checkbox */

.check-container {
    margin-top: 0.7rem;
    
}
.check-container input {
    margin-right:0.3rem;
}

/*Estilos de boton*/

.btn-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.7rem;
    background-color: rgba(0, 255, 255, 0.671);
    border: 0px;
    border-radius: 0.3rem;
    color: black;
}
/*  La Propidad hover cambia el color o mas propiedades del dialogo */
.btn:hover {
    background-color: chartreuse;
    color: white;
    
}

/* Alineacion del Formalario */

.screen-form {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

